
<div class="row">
        <div class="col-md-2">
          <div class="nav flex-column nav-pills mt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="btn btn-lg btn-primary btn-sm mb-2"  (click)="open(content)">+ Department</button>
            <div *ngFor="let dept of departments">
                <a class="btn btn-info btn-sm btn-block mt-1" [routerLink]="['/department/home',dept.deptName,dept.id]"  routerLinkActive="active">{{dept.deptName}}</a>
           
            </div>
          </div>
      
        </div>
        <div class="col-md-10">
                 <router-outlet></router-outlet>
        </div>
      </div>
  
      <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Department Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div [formGroup]="formDept">
                  <div class="form-group">
                      <input type="text" class="form-control" id="dname" formControlName="deptName" placeholder="Department name">
                    </div>
                  </div>
            </div>
        
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addDept()">Add Department</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>